<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/checkout.css">
    <script src="js/checkout.js" defer></script>
</head>
<body>
    

<div class="container">
    <h1>Resumen del Carrito</h1>
    <div id="carrito-contenido"></div>
    <div id="resumen-compra">
        <p>Total de Actividades: <span id="total-actividades"></span></p>
        <p>Precio Total: <span id="precio-total"></span></p>
    </div>
</div>


 

</body>
</html>