<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YoTen</title>

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    
    <link rel="stylesheet" href="styles/style.scss">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/nosotros.css">
    <script src="js/script.js" defer></script>
</head>
<body>

<header class="header">

    <div id="menu-btn" class="fas fa-bars"></div>
    <a href="#" class="logo"><img src="imgs/yOTENLOGO.png" alt="Logotipo" width="100px" height="110px" /></a>

    <nav class="navbar">
        <a href="#Inicio">Inicio</a>
        <a href="#about">Sobre nosotros</a>
        <a href="#destination">Actividades</a>
        <a href="#services">Servicios</a>
        <a href="#gallery">Galeria</a>
    </nav>

    <a href="login.html"  id="btnOpenModal" class="btn show-modal">Login</a>

    <div class="two columns u-pull-right">
        <ul>
          <li class="submenu">
            <img src="imgs/cart.png" id="img-carrito" alt="icono-carro-lista"/>
            <div id="carrito">
              <table id="lista-carrito" class="u-full-width">
                <thead>
                  <tr>
                    <!-- <th>Imagen</th> -->
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>


              <a href="#" id="vaciar-carrito" class="button u-full-width"
                >Vaciar Carrito</a
              >
            </div>
          </li>
        </ul>
      </div>

</header>

<div class="vertical-strip">
    <div class="flex-container">
        <div class="left-side">
            <img src="https://static1.ara.cat/clip/e6aadadd-5647-4627-83fc-a447ee182292_16-9-aspect-ratio_default_0.jpg" alt="Imagen-about-us-1" class="image">
        </div>
        <div class="right-side">
            <div class="heading">
                <h2>QUIENES SOMOS</h2>

            </div>
            <div class="flex-row">
                <div class="flex-column">
                    <div class="icon-text">
                        <div class="icon">
                            <!-- Insert your SVG icon here -->
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.09 5H14L10 8L11.09 13L8 10L4.91 13L6 8L2 5H6.91L8 0Z" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="text">siudngviusdnviugsd uihnsdiugvbniusdbngvuisdbv n9isndvi9unsaui9dhnvu9iasd iunsduivnui9asdbnvf</div>
                    </div>
                    <div class="icon-text">
                        <div class="icon">
                            <!-- Insert your SVG icon here -->
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.09 5H14L10 8L11.09 13L8 10L4.91 13L6 8L2 5H6.91L8 0Z" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="text">siudngviusdnviugsd uihnsdiugvbniusdbngvuisdbv n9isndvi9unsaui9dhnvu9iasd iunsduivnui9asdbnvf</div>
                    </div>
                </div>
                <div class="flex-column">
                    <div class="icon-text">
                        <div class="icon">
                            <!-- Insert your SVG icon here -->
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.09 5H14L10 8L11.09 13L8 10L4.91 13L6 8L2 5H6.91L8 0Z" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="text">siudngviusdnviugsd uihnsdiugvbniusdbngvuisdbv n9isndvi9unsaui9dhnvu9iasd iunsduivnui9asdbnvf</div>
                    </div>
                    <div class="icon-text">
                        <div class="icon">
                            <!-- Insert your SVG icon here -->
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 0L9.09 5H14L10 8L11.09 13L8 10L4.91 13L6 8L2 5H6.91L8 0Z" fill="currentColor"/>
                            </svg>
                        </div>
                        <div class="text">siudngviusdnviugsd uihnsdiugvbniusdbngvuisdbv n9isndvi9unsaui9dhnvu9iasd iunsduivnui9asdbnvf</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><br>


<div class="vertical-strip">
    <div class="flex-container">
        <div class="left-side">
            <div class="heading">
                <h2>UNA MOVIDA INCREIBLE</h2>
            </div>
            <div class="paragraphs">
                <div class="text">Paragraph 1</div>
                <div class="text">Paragraph 2</div>   
            </div>
        </div>
        <div class="right-side">
            <div class="flex-row">
                <div class="image-container">
                    <img src="https://images.ecestaticos.com/vKlrgegVAF7PBnORWNlu6yZOnCE=/0x0:2272x1603/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2Ff93%2F6bd%2F968%2Ff936bd9689158c6e42f1237642719557.jpg" alt="Imagen-about-us-1" class="image">
                </div>
                <div class="image-container">
                    <img src="https://lp-cms-production.imgix.net/features/2010/07/akihabara_lights_tokyo-fa3cbf4bacab.jpg?auto=format&q=75&w=1920" alt="Imagen-about-us-2" class="image">
                </div>
            </div>
            <div class="single-image">
                <img src="https://gacetadelturismo.com/wp-content/uploads/sites/8/2023/01/Ozu_Castle_-%C2%A9PekePON-CC-BY-SA-3.0-730x412.jpg" alt="Imagen-about-us-3" class="image">
            </div>
        </div>
    </div>
</div>




<section class="footer">

    <div class="box-container">
        <div class="box">
            <a href="#" class="logo"><img src="imgs/yOTENLOGO.png" alt="Logotipo-footer" width="110px" height="130px" /></a>
            <p>Lore ipsum sjifbnvihjsbnvdfibsnivrbnsijdv uihheiufbiuwe. Ocetvygt</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Inicio </a>
            <a href="#about" class="links"> <i class="fas fa-arrow-right"></i> Sobre nosotros </a>
            <a href="#destination" class="links"> <i class="fas fa-arrow-right"></i> Actividades </a>
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Servicios </a>
            <a href="#home" class="links"> <i class="fas fa-arrow-right"></i> Reviews </a>
            <a href="#gallery" class="links"> <i class="fas fa-arrow-right"></i> Galería </a>
        </div>

        <div class="box">
            <h3>Info de contacto</h3>
            <p> <i class="fas fa-phone"></i> 676 888 000</p>
            <p> <i class="fas fa-map"></i> Tokio, Japón</p>
            <p> <i class="fas fa-envelope"></i> info@yoten.com</p>
            <p> <i class="fas fa-clock"></i> 8.00 -- 21.00</p>
        </div>

    </div>

</section>

<div class="credit"> Desarrollado y maquetado por <b>Cubillos();</b> ||</div>

</body>
</html>